/* Global Styles */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

body {
    margin: 0;
    background-color: #191919;
    color: white;
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
}

img {
    width: 100%;
    height: auto;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* Header Styles */
header {
    background-color: #191919;
    color: white;
}

.header-content {
    padding: 2rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 24px;
}

nav a {
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
    transition: color 0.3s;
}

nav a:hover {
    color: #93a9ff;
}

/* Footer Styles */
footer {
    background-color: #191919;
    color: white;
    text-align: center;
    padding: 2rem 0;
    font-size: 1.2rem;
}

/* Hero Section Styles */
.hero-section {
    display: flex;
    align-items: center;
    width: 100%;
    background-color: #191919;
    color: white;
}

.hero-section-image {
    background-color: #93a9ff;
    padding: 7rem;
    width: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.hero-section-image img {
    border-radius: 10%;
    height: 420px;
    width: 345px;
}

.hero-section-text {
    width: 50%;
}

.hero-section-text h3 {
    font-size: 5rem;
    text-transform: uppercase;
    padding-left: 3rem;
}

.hero-section-text h3 span {
    color: #93a9ff;
}
.hero-section-text h3 p {
    font-size: 1.5rem;
}

/* Introduction Section Styles */
.intro-section {
    display: flex;
    gap: 2rem;
    width: 100%;
    padding: 3rem 0;
}

.line::before {
    content: "";
    display: block;
    width: 10rem;
    height: 1px;
    background-color: #93a9ff;
}

.intro-section-left {
    width: 40%;
}

.intro-section-left-image {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.intro-section-text {
    width: 60%;
    text-align: justify;
}

.intro-section-left-content {
    display: flex;
    gap: 3rem;
    align-items: center;
    font-size: calc((1.1 - 1) * 1.2vw + 1rem);
}

.intro-section-text p {
    margin: 1rem 0;
    font-size: calc((1.4 - 1) * 1.2vw + 1rem);
    word-wrap: break-word;
    line-height: 1.8em;
}

/* Quote Section Styles */
.quote {
    background-color: white;
    color: #000080;
    padding: 2rem 0;
    text-align: center;
}

.quote blockquote {
    font-size: calc((3 - 1) * 1.2vw + 1rem);
    font-style: italic;

    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.quote blockquote cite {
    font-size: calc((1.5 - 1) * 1.2vw + 1rem);
    font-style: normal;
}

/* Contact newslatter Section Styles */
.subscription {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    padding: 3rem 0;
    align-items: center;
}

.subscription .add-email {
    width: 40%;
    margin: 0 auto;
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    outline: none;
    font-size: calc((1.5 - 1) * 1.2vw + 1rem);
    background-color: #f0ffff;
    color: black;
}

.submit-email {
    padding: 1rem 2rem;
    border-radius: 5rem;
    border: none;
    outline: none;
    font-size: calc((1.5 - 1) * 1.2vw + 1rem);
    background-color: #93a9ff;
    color: black;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Home Town Page Styles */

.bd-flag {
    width: 50%;
    height: auto;
    margin: 3rem auto;
    display: flex;
}

.page-section-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 3rem 0;
}

.hometown-section,
.activity-section {
    background-color: #f7f7f7;
    color: black;
    border-radius: 10px;
    padding: 3rem;
    margin-top: 1.2rem;
    margin-bottom: 1.2rem;
}

.hometown-section h2 {
    color: #002664; /* Vibrant red color */
    margin-bottom: 20px;
}

.hometown-section p {
    line-height: 1.6;
    margin: 10px 0;
}

.hometown-section .highlight {
    color: #09b800;
    font-weight: bold;
}

.hometown-section .italic {
    font-style: italic;
}

/* Activity Page Styles */
.activity-description {
    margin: 15px 0;
    line-height: 1.8;
}

.benefits {
    border-left: 5px solid #ffc107; /* Accent border */
    padding: 3rem;
    border-radius: 8px;
}
